<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center">
    <span class="text-muted  me-1">Copyright © {{ currentYear }}</span>
    <a href="https://github.com/vdiefn/animal-hospital-form-mysql" target="_blank">
      <i class="fa-brands fa-github" style="color: #18315c;"></i>
    </a>

  </div>
  <div class="container text-center">
    <span class="text-muted">Special Thanks To <a href="https://storyset.com/web" style="text-decoration: none; color:#18315c; font: size 14px;px">Web illustrations by Storyset</a></span>
  </div>
</footer>